@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:wght@300;400;500;600;800&display=swap rel="stylesheet"');

:root {
  --golden_rod: #987629;
  --error: #d42e34;
  --light_perwinkle: #e0eaffc6;
  --cream: #fffbf9; 
}

body {
  background: var(--light_perwinkle);
  font-family: "DM Serif Display", serif;
  margin: 0;
}

header {
  background: var(--cream);
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 10px 60px;
}

header a {
  color: #333;
  text-decoration: none;
}

.pages {
  max-width: 750px;
  padding: 15px;
  margin: 0 auto;
}

.home {
  display: grid;
}