:root {
    --golden_rod: #987629; 
  }

.create-account-title {
    display: flex;
    justify-content: center;
    color: var(--golden_rod);
}

.create-account-blurb {
    margin-top: -10px;
    font-size: 1.1em;
    line-height: 1.5;
}

.create-account-button {
    display: flex;
    justify-content: center;
    padding-top: 25px;
}